#about-me {
    background-color: #6a5acd; /* Light slate blue background */
    color: #ffffff; /* White text for better readability */
    padding: 20px;
    cursor: pointer;
}

#about-me .brief-summary h2 {
    text-align: center;
    font-size: 24px;
}

#about-me .detailed-summary {
    display: none; /* starts hidden */
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(106, 90, 205, 0.9), rgba(106, 90, 205, 0.7)), url('assets/img/hero/coverpage.JPG') no-repeat center center; /* Add a gradient to make text more readable */
    background-size: cover;
    padding: 20px;
}

#about-me .detailed-summary img {
    width: 250px; /* Adjust size as needed */
    margin-right: 20px;
    border-radius: 10px; /* Optional: adds rounded corners to the image */
}

#about-me .detailed-summary .text-content {
    max-width: 600px;
    color: #fff; /* White text for detailed content */
}

#about-me .detailed-summary p {
    text-align: justify;
    font-size: 18px;
}
