body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #231c51;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background: #231c51;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #8a8a8a;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #231c51;
}

section.info-section {
    padding: 20px;
    margin-top: 20px;
    background: #89CFF0;
    border-bottom: 2px solid #eee;
}

section.info-section .brief-summary {
    text-align: center;
    font-size: 34px;
    cursor: pointer;
    color: #231c51;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.info-section .detailed-summary {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

section.info-section .detailed-summary.open {
    display: flex;
    max-height: 1000px; /* Adjust based on content */
    opacity: 1;
}

section.info-section .detailed-summary img.float-left {
    width: 30%; /* Adjust size as needed */
    margin-right: 20px; /* Space between image and text */
}

section.info-section .detailed-summary .text-content {
    flex: 1;
    text-align: left;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #231c51;
    color: white;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    header h1 {
        font-size: 1.5em;
    }
}
