/* General Body Settings */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #231c51;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: #231c51;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    font-weight: 300;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background: #8a8a8a;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #231c51;
}

/* Section */
section {
    padding: 20px;
    margin-top: 20px;
    background:  #89CFF0;
    border-bottom: 2px solid #eee;
}

section h2 {
    color: #231c51;
}

.container {
    width: 80%;
    margin: auto; /* Center the DIV horizontally */
    overflow: hidden; /* Clearfix */
}

/* Experience and Project Items */
.experience-item, .project-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #231c51;
    color: white;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 0;
    }

    nav {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    header h1 {
        font-size: 1.5em;
    }
}

#about-me {
    background-color:  #89CFF0; /* Light slate blue background */
    color:  #89CFF0; /*not sure where this applies but will look into it */
    padding: 20px;
    cursor: pointer;
}

#about-me .brief-summary h2 {
    text-align: center;
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #231c51;
}

#about-me .detailed-summary {
    display: none; /* starts hidden */
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #231c51, #342976), url('assets/img/hero/coverpage.JPG') no-repeat center center; /* Add a gradient to make text more readable */
    background-size: cover;
    padding: 20px;
}

#about-me .detailed-summary img {
    width: 250px; /* Adjust size as needed */
    margin-right: 20px;
    border-radius: 10px; /* Optional: adds rounded corners to the image */
}

#about-me .detailed-summary .text-content {
    max-width: 600px;
    color: #fff; /* White text for detailed content */
}

#about-me .detailed-summary p {
    text-align: justify;
    font-size: 18px;
    font-family: cursive;
}

/* Video styling for bird animation */
.brief-summary .bird-video {
    width: 250px; /* Size of the video, make sure width and height are the same */
    height: 180px; /* Same as width to maintain aspect ratio */
    border-radius: 90%; /* Make the video circular */
    display: block; /* Ensures the video is block level to apply margin and centering */
    margin: 0 auto 10px; /* Center the video horizontally and add margin at the bottom */
    overflow: hidden; /* Ensures no overflow outside the circular boundary */
}